body {

    margin:0;

    background:#080808;

    color:white;

    font-family:Arial, sans-serif;

    text-align:center;

}



.app {

    max-width:500px;

    margin:auto;

    padding:20px;

}



.header h1 {

    font-size:28px;

}



.stats {

    background:#151515;

    padding:15px;

    border-radius:15px;

    margin-top:20px;

}



.stats div {

    margin:10px;

    font-size:18px;

}



.mine-area {

    margin-top:50px;

}



#pickaxe {

    width:180px;

    height:180px;

    border-radius:50%;

    border:none;

    font-size:80px;

    background:#202020;

    cursor:pointer;

    transition:0.15s;

}



#pickaxe:active {

    transform:scale(0.9) rotate(-10deg);

}



#message {

    margin-top:25px;

    font-size:20px;

}



.menu {

    margin-top:50px;

    display:grid;

    gap:12px;

}



.menu button {

    padding:15px;

    border-radius:15px;

    border:none;

    background:#222;

    color:white;

    font-size:18px;

}



.menu button:hover {

    background:#333;

}
