* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background:
    radial-gradient(circle at top, #252525, #050505);
    color: white;
    font-family: Arial, sans-serif;
}


.app {
    max-width: 500px;
    margin: auto;
    min-height: 100vh;
    padding: 20px;
}


/* HEADER */

.header {
    text-align: center;
}


.header h1 {
    font-size: 28px;
}


.stats {
    background: rgba(255,255,255,0.08);
    border-radius: 20px;
    padding: 15px;
    backdrop-filter: blur(10px);
}


.stats div {
    margin: 8px;
    font-size: 18px;
}



/* MINE */

.mine-area {
    text-align: center;
    margin-top: 50px;
}


#pickaxe {

    width: 200px;
    height: 200px;

    border-radius: 50%;

    border: 3px solid #444;

    background:
    linear-gradient(
        145deg,
        #333,
        #111
    );

    font-size: 90px;

    box-shadow:
    0 0 30px rgba(255,255,255,.15);

    transition: .15s;

}


#pickaxe:active {

    transform:
    scale(.85)
    rotate(-15deg);

}



/* MESSAGE */

#message {

    height:30px;

    font-size:20px;

}



/* MENU */

.menu {

    position: fixed;

    bottom: 15px;

    left:50%;

    transform:translateX(-50%);

    width:90%;

    max-width:450px;

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:8px;

}



.menu button {

    padding:12px 5px;

    border:none;

    border-radius:15px;

    background:#1d1d1d;

    color:white;

    font-size:13px;

}



/* ENERGY */

.energy-bar {

    margin-top:20px;

    background:#222;

    height:15px;

    border-radius:20px;

    overflow:hidden;

}


.energy-fill {

    height:100%;

    width:100%;

    background:#00ff88;

}


.profile-card {

    margin-top:30px;

    background:rgba(255,255,255,0.08);

    padding:20px;

    border-radius:20px;

    text-align:center;

}


.profile-card h2 {

    margin-top:0;

}


.energy-bar {

    margin-top:15px;

}


.page {

    display:none;

    margin-top:30px;

}



.shop-card {


    background:
    rgba(255,255,255,0.08);


    padding:20px;


    margin:15px 0;


    border-radius:20px;


    text-align:center;


}



.shop-card button {


    background:#00ff88;


    border:none;


    padding:12px 30px;


    border-radius:15px;


    font-weight:bold;


}
